{{yield}}
<h3>{{t 'offering.pluralName'}}</h3>
{{#if showOnMap}}
  {{offering-map model=offeringMapData}}
{{/if}}
{{input value=quickSearch class='form-control' placeholder=(t 'app.labels.searchPlaceholder')}}
<div class="text-right">{{#if showOnMap}}<span class="glyphicon glyphicon-ok"></span>{{/if}} <a {{action 'toggleShowOnMap'}} class="small" href="#">{{t 'app.actions.showOnMap'}}</a></div>
<div><label>{{t 'app.labels.total'}}</label> {{numberToLocaleString sumOfOfferings}}</div>
<div class="col-md-8 no-padding">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 150px;">{{t 'offering.attributes.value'}}</th>
        <th>{{t 'parishioner.name'}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each searchableOfferings as |offering|}}
      <tr>
        <td class="text-right">
          {{#link-to 'offerings.edit' offering.id title=(t 'app.actions.edit') class='pull-left'}}
            <span class="glyphicon glyphicon-pencil color-lighter"></span>
          {{/link-to}}
          <big><b>{{numberToLocaleString offering.value}}</b></big><br />
          <span class="small">{{offering.date}}</span>
        </td>
        <td>
          {{offering.parishioner.name}}<br />
          <span class="color-lighter small">{{offering.parishioner.address}}</span>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="2">{{t 'app.alerts.noRecordsFound'}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>