{{#if model.isNew}}
  <div class="alert alert-warning">{{t 'app.alerts.recordNotSaved'}}</div>
{{/if}}
<form class="margin-bottom">
  <fieldset class="margin-bottom">
    <div><label>{{t 'parishioner.name'}}</label></div>
    <div>
    {{#power-select
      options=sortedParishioners
      selected=model.parishioner
      onchange=(action 'selectParishioner')
      onfocus=(action 'powerSelectFocusHandler')
      searchField='nameAndAddress'
      id='offering-parishioner'
      as |parishioner|}}
      {{parishioner.nameAndAddress}}
    {{/power-select}}
    </div>
    <div><label>{{t 'offering.attributes.value'}}</label></div>
    <div>
      {{input value=model.value type='number' class='form-control offering-value' id='offering-value'}}
    </div>
    <div><label>{{t 'offering.attributes.date'}}</label></div>
    <div>
      {{input value=model.date class='form-control' id='offering-date'}}
    </div>
  </fieldset>
  <div>
    <button {{action 'save'}} class="btn btn-success form-control">{{t 'app.actions.save'}}</button>
    {{#unless model.isNew}}
      <a {{action 'showDeleteConfirmation'}} href="#" class="pull-right">{{t 'app.actions.delete'}}</a>
    {{/unless}}
  </div>
</form>

{{#if deleteConfirmationNeeded}}
  {{#ember-wormhole to='modal-hole'}}
    {{#modal-window title=(t 'app.alerts.areYouSure') yesHandler=(action 'delete') noHandler=(action 'cancelDelete')}}
      {{t 'app.alerts.areYouSureYouWantToDelete'}}
    {{/modal-window}}
  {{/ember-wormhole}}
{{/if}}