{{#if errorMessage }}
  <div class="alert alert-danger">
    {{t 'app.alerts.recordCannotBeSaved'}}
  </div>
{{/if}}
{{#if isNewRecord}}
  <div class="alert alert-warning">{{t 'app.alerts.recordNotSaved'}}</div>
{{/if}}
<form class="margin-bottom">
  <fieldset class="margin-bottom">
    <div><label>{{t 'parishioner.name'}}</label></div>
    <div>
    <select onchange={{action 'selectParishioner' value='target.value'}} multiple data-placeholder={{t 'app.labels.searchPlaceholder'}} class="form-control">
      {{#each sortedParishioners as |parishioner| }}
        <option value="{{parishioner.id}}">{{parishioner.name}} - {{parishioner.address}}</option>
      {{/each}}
    </select>
    </div>
    <div><label>{{t 'offering.attributes.value'}}</label></div>
    <div>
      {{input value=model.value type='number' class='form-control offering-value' id='offering-value'}}
    </div>
    <div><label>{{t 'offering.attributes.date'}}</label></div>
    <div>
      {{input value=model.date class='form-control' id='offering-date'}}
    </div>
  </fieldset>
  <div>
    <button {{action 'save'}} class="btn btn-success form-control">{{t 'app.actions.save'}}</button>
    {{#unless isNewRecord}}
      <a {{action 'showDeleteConfirmation'}} href="#" class="pull-right">{{t 'app.actions.delete'}}</a>
    {{/unless}}
  </div>
</form>


{{#if deleteConfirmationNeeded}}
  {{#ember-wormhole to='modal-hole'}}
    {{#modal-window title='Are you sure?' yesHandler=(action 'delete') noHandler=(action 'cancelDelete')}}
      Are you sure you want to delete this offering?
    {{/modal-window}}
  {{/ember-wormhole}}
{{/if}}