<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="pull-right"><a {{action setLocale 'en'}} href="">EN</a> <a {{action setLocale 'pl'}} href="">PL</a></p>
      <h1 id="title">+ {{t 'app.name'}} <span class="color-lighter">| The Ember.js Demo(n)</span></h1>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-xs-12">
      {{#link-to 'index' class="btn btn-primary"}}{{t 'app.homepage'}}{{/link-to}}
      {{#link-to 'offerings' class="btn btn-primary"}}{{t 'offering.pluralName'}}{{/link-to}}
      {{#link-to 'parishioners' class="btn btn-primary"}}{{t 'parishioner.pluralName'}}{{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
</div>

<div id="modal-hole">
{{!-- ember-wormhole --}}
</div>

