{{#unless isFormVisible}}
  <button {{action 'toggleIsFormVisible'}} class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-plus"></span> {{t 'offering.actions.create'}}
  </button>
{{else}}
  <div class="well">
    <a {{action 'toggleIsFormVisible'}} class="pull-right" href="#" title="{{t 'app.actions.close'}}"><span class="glyphicon glyphicon-remove"></span></a>

    <h3>{{t 'offering.name'}}</h3>
    {{new-offering-form}}
  </div>
{{/unless}}

<h3>{{t 'offering.pluralName'}}</h3>
{{latest-offerings model=model}}